.rhap_container, .rhap_container *:focus {
  outline: none;
  
}

.rhap_container {
  background-color: #343A40;
  
}

.rhap_container svg {
  color: #ff416C;
}

/* .rhap_progress-container {
  background-color: #79c99E;
} */

.p-0, .col-md-auto, .pb-0 {
  background-color: #343A40;
}

.list-group-item, .list-group-item-action {
  background-color: #343A40 !important;
  color: white !important;
  font-weight: bold;
  border: 1px solid white;
}

.card-title, .card-text {
  color: white;
  font-weight: bold;
}

.rhap_download-progress, .rhap_volume-bar {
  background-color: white;
}

.rhap_time, .rhap_total-time{
color: white;
}

.rhap_download-progress, .rhap_volume-bar {
  color: #ff416C!important;
}

/* .list-group-item {
  background-color: #343A40 !important;
} */

.list-group-item, .d-flex {
  border: 1px solid white;
}

.MuiButtonBase-root:hover {
  background: #ff416C;
}

.nav-link:hover{
  /* background: #007bff; */
  background: #ff416C;
}

.rhap_download-progress {
  background: #ff416C;
}